@font-face {
    font-family: 'Magic School One';
    src: url('fonts/MagicSchoolOne.ttf');
  }
      

html{
    font-family: 'Magic School One';
    text-align: center;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

#menu
{
    font-size: 150%;
	position: fixed;
	margin-top: 0;
    padding: 0;
    background-color: #39393ac8;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    table-layout: fixed;
    width: 100%;
    z-index: 99999;
}

li {
	list-style-type: none;
    vertical-align: middle;
    float: left;
    text-align: center;
}


li a {
    transform: scale();
    text-align: center;
    display: block;
    color: whitesmoke;
    padding: 2vh 2vw;
    text-decoration: none;
    border-left: 1px solid grey;
}

li a:last-child{
	border-right: 1px solid grey;
}

li a:hover {
    background-color: #02020ad0;
}

li img{
	color: white;
	text-align: center;
	height: auto;
    width: auto;
    max-width: 10vw;
    max-height: 5vh;
    padding-top: 1.5vh;
    padding-right: 2vw;
    padding-left: 2vw;
}

h3{
    font-size: 300%;
}

.imgContainer{
    position: relative;
    box-sizing: border-box;
}

.slides {
    display: none;
}

.cursor{
    cursor: pointer;
    opacity: 0.6;
}

.active, .cursor:hover{
    opacity: 1;
}

.previousButton, .nextButton{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

button{
    background-color: transparent;
    border-color: transparent;
}

.nextButton{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previousButton{
    left: 0;
    border-radius: 3px 0 0 3px;
}

.previousButton:hover, .nextButton:hover{
    background-color: rgba(253, 245, 245, 0.629);
}

.imgNumber {
    color: whitesmoke;
    font-size: 250%;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.previewRow::after {
    content: "";
    display: table;
    clear: both;
}

.previewColumn{
    float: left;
    width:12.5%;
    vertical-align: auto;
}

img{
    width: 100%;
}


p{
    font-size: 220%;
}
